@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root{
    --cor-um: #116D6E;
    --cor-dois: #321E1E;
    --cor-tres: #4E3636;
    --cor-quatro: #820300;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-um);
    color: var(--cor-dois);
    font-family: "Source Code Pro", monospace;
    box-sizing: border-box;
}

.cabecalho{
    margin: 2%;
}

.container{
    padding: 3%;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.selecao__esquerda{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

#entrada-mensagem{
    background-color: var(--cor-um);
    color: var(--cor-dois);
    font-family: "Source Code Pro", monospace;
    font-size: 2.2rem;
    border: none;
    text-transform: lowercase;
    width: 530px;
    height: 420px;
}

.informacao__atencao{
    font-size: 1rem;
}

.botoes__esquerda{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}

.estilo__botoes{
    padding: 2.5%;
    border: 4px dashed var(--cor-tres);
    border-radius: 10%;
    background-color: var(--cor-um);
    color: var(--cor-dois);
    font-family: "Source Code Pro", monospace;
    font-size: 1rem;
}

.estilo__botoes:hover{
    background-color: var(--cor-tres);
    color: var(--cor-um);
    border: dashed var(--cor-quatro);
}

.selecao__direita{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

#saida-mensagem{
    background-color: var(--cor-um);
    background-image: url(imagens/Mask\ group\ \(1\).png);
    background-repeat: no-repeat;
    background-position: right;
    font-family: "Source Code Pro", monospace;
    color: var(--cor-quatro);
    font-size: 2.2rem;
    text-transform: lowercase;
    border: none;
    width: 400px;
    height: 500px;
}

.botao__direita{
    display: flex;
    justify-content: center;
}

.estilo__botoes__cop{
    padding: 20%;
    border: 4px dashed var(--cor-tres);
    border-radius: 10%;
    background-color: var(--cor-um);
    color: var(--cor-dois);
    font-family: "Source Code Pro", monospace;
    font-size: 1rem;
}

.estilo__botoes__cop:hover{
    background-color: var(--cor-tres);
    color: var(--cor-um);
    border: dashed var(--cor-quatro);
}

.rodape{
    padding: 0.5%;
    background-color: #4E3636;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    align-items: center;
    color: var(--cor-um);
}

.rodape__redes{
    font-family: "Source Code Pro", monospace;
    text-decoration: none;
    text-align: center;
    color: var(--cor-um);
}